args==0.1.0
asgiref==3.6.0
attrs==23.1.0
backoff==1.10.0
backports.csv==1.0.7
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
clint==0.5.1
contextlib2==21.6.0
cryptography==40.0.2
defusedxml==0.7.1
Django==4.2.1
django-allauth==0.54.0
django-extensions==3.2.1
docopt==0.6.2
idna==2.10
internetarchive==1.9.0
jsonpatch==1.32
jsonpickle==0.9.3
jsonpointer==2.3
jsonschema==3.2.0
oauthlib==3.2.2
openlibrary-client==0.0.30
Pillow==9.5.0
pycparser==2.21
PyJWT==2.6.0
pymarc==3.2.0
pyOpenSSL==23.1.1
pyrsistent==0.19.3
python3-openid==3.2.0
requests==2.23.0
requests-oauthlib==1.3.1
schema==0.7.5
simplejson==3.16.0
six==1.14.0
sqlparse==0.4.4
urllib3==1.25.11
