{% extends "base.html" %}
{% load static %}

<!--For later -->

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forget_password.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="forget-password-title">Forgot Password</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email" placeholder="Enter your email address" required>
        </div>

        <button type="submit" class="reset-button">Reset Password</button>
    </form>
</div>
{% endblock %}