.container-fluid{
    font-size:15px;
    font-family: Poppins;
}
.library{
    text-align:center;
    -webkit-text-stroke: 2px #426053;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;

    color: #e1ebe7;
    font-size: 50px;
    font-family:"Poppins", sans-serif;
    font-weight: 800;
}
.book-libr{
    display: inline-block;
    font-family: Verdana;
    color: black;
    background-color: white;

    padding: 5px 10px;
    margin-right:10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}