.container-fluid{
    background-color: #e1ebe7;
    padding-left: 2%;
    padding-top: 8vh;
    padding-bottom: 6vh;
}

.sort-search{
    font-family: 'Poppins';
    font-style: normal;
    font-size: small;
}
.search-statement{
    font-family: 'Poppins';
    font-style: normal;
    font-size: small;
    font-weight: bold;
    color:black;
    text-align:start;
}

.book-image{
    width: 10%; 
    height: auto;
}

.book-name {
    font-family: "Poppins", sans-serif;
    margin-left: 2%;
    text-decoration: none;
    padding: 2px 5px;
    background-color: white; /* Set the background color */
    color: black; /* Set the text color */
    text-decoration: none;
    border-radius: 4px; /* Add some border radius for rounded corners */
    font-weight:normal;
    font-size: medium;
}

.book-author{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: normal;  
    margin-left: 3%;
}

.container-fluid


.books{
    width: 700px; 
    height: 100px; 
    padding-right: 25%;
    margin-right: 10%;
}

.Stars{
    margin-left: 2%; 
}

.no-reviews{
    font-family: 'Poppins';
    font-size: small;
    color: grey;
    font-weight: bold;
    margin-left:2%;
}

.no-results{
    font-family:'Poppins';
    font-size: small;
    font-weight: bold;   
}












