{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <h2>User: {{profile_user.username}}</h2>
    <p>User since {{profile_user.date_joined.date}}</p>
    <h2>Reviews:</h2>
    {% for review in reviews %}
        <div class="review-row">
            <div class="review-book">
                <b>Review for: 
                    <a href="{% url 'books:view_book' review.book.id %}">{{review.book.title}}</a>
                </b>
            </div>
            <div class="review-contents">
                <p>Rating: {{review.rating}}</p>
                <p>Review: {{review.text}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
