{% extends "base.html" %}

{% block content %}
    <h2 class = "user-back">Welcome Back @{{profile_user.username}} !</h2>
    <p class = "date-userhood">You've been a user since {{profile_user.date_joined.date}}</p>
    {% if profile_user.profile_picture %}
        <img src="{{ profile_user.profile_picture }}" alt="Profile Picture">
    {% endif %}


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <a class = "add-pfp" href="{% url 'profiles:upload_profile_picture' profile_user.id %}">Add a Profile Picture </a>
    </form>
    
    <h2 class="header-1">Following:</h2>
    {% for followed_user in profile.followed_users.all %}
      <p><a class="rand-title" href="{% url 'profiles:profile' followed_user.user_id %}">{{ followed_user.user.username }}</a></p>
    {% endfor %}

    <div class="grid-container">
        <div class="left-s">
          <h2 class="header-1">Your Favorite Reads</h2>
          {% for book in profile.favorite_books.all %}
          <p class="my-fav-book"><a href="{% url 'books:view_book' book.id %}">{{ book.title }}</a></p>
          {% empty %}
          <p class="my-fav-book">No favorite books.</p>
          {% endfor %}
        </div>
        <div class="right-s">
          <h2 class="header-2">Your Reviews</h2>
          {% for review in reviews %}
          <div class="review-row">
            <div class="review-books">
              <b class="rev-for">Review for: <a class="rand-title" href="{% url 'books:view_book' review.book.id %}">{{review.book.title}}</a></b>
            </div>
            <div class="review-contents">
              <p class="rating-prof">Your Rating: {{review.rating}}</p>
              <p class="rating-prof">Your Review:</p>
              <p class="user-rev">{{review.text}}</p>
              <a href="{% url 'books:edit_review' review.book.id %}">
                <button type="edit-rev" class="edit-rev">Edit Review</button>
              </a>
              <a href="{% url 'books:edit_review' review.book.id %}">
                <button type="delete-rev" class="rev-button delete-button">Delete Review</button>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
    <!-- <h2 class = "headers">Your Favorite Reads</h2>
    {% for book in profile.favorite_books.all %}
        <p class = "my-fav-book"><a href="{% url 'books:view_book' book.id %}">{{ book.title }}</a></p>
    {% empty %}
        <p class = "my-fav-book">No favorite books.</p>
    {% endfor %}


    <h2 class = "headers">Your Reviews</h2>
    {% for review in reviews %}
        <div class="review-row">
            <div class="review-books">
                <b class = "rev-for">Review for: 
                    <a class ="rand-title" href="{% url 'books:view_book' review.book.id %}">{{review.book.title}}</a>
                </b>
            </div>
            <div class="review-contents">
                <p class = "rating-prof">Your Rating: {{review.rating}}</p>
                <p class = "rating-prof">Your Review:</p>
                <p class = "user-rev">{{review.text}}</p>
                <a href="{% url 'books:edit_review' review.book.id %}">Edit Review</a>
            </div>
        </div>
    {% endfor %} -->
{% endblock %}